# MacOS
.DS_Store

# System
.vscode

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
#.env
# env.* 
#*.yaml

# IPython
profile_default/
ipython_config.py

# TO-DO
todo.txt

# Data Directory
data/

# Tableau extracts (kept for clarity if data/ scope changes)
data/tableau/

# Notebooks Directory
#notebooks/

# Postgres
pgdb/

