# MacOS
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
env.*

# IPython
profile_default/
ipython_config.py
